@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Modak");


*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#scoreDiv, #scoreDiv2{
    position : absolute;
    z-index: 4;
    display: flex;
    font-size: 19px;
    height: 630px;
    overflow: scroll ;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    justify-content: center;
    background-color: rgb(20, 16, 59);
    margin: 10px;
}

#scoreDiv{
    left: -1000px;
}

#scoreDiv2{
    right: -1000px;
    background-color: #600d0d;
}

#scoreDiv::-webkit-scrollbar, #scoreDiv2::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
}

#scoreImg, #scoreImg2{
    width: 200px;
    height: 790px;
    margin: 10px;
}

#eventText{
    position: absolute;
    color: rgb(255, 255, 255);

    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    z-index: 3;
    font-size: 40vh;
    opacity: 0;
}

#titleDiv{
    position: relative;
    z-index: 2;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

#modesDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100vw;
    height: 70vh;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
}

#modesDiv div img{
    transition: 0.5s;
}

#modesDiv div img:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

#oplayer{
    width: 20em;
    height: 20em;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
}

#tplayers{
    width: 20em;
    height: 20em;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
}

#onePlayer, #twoPlayers{
    position: relative;
    z-index: 2;
    width: 149px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #600d0d;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
}

#usernameDiv{
    position: absolute;
    z-index: 2;
    display: flex;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    top: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#usernameDiv h2{
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 40px;
}

#username1Input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 16, 59);
}

#username2Input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
    display: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #600d0d;
}

#usernameDiv button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(20, 16, 59);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    color: rgb(20, 16, 59);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s ease;
}

#usernameDiv button:hover{
    background-color: rgb(20, 16, 59);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    scale: 1.1;
    transition: 0.5s ease;
}

:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;

  --silver: #c0c0c0;
  --light-silver-shadow: #7a7a7a;
  --dark-silver-shadow: #3e3e3e;

  --neon: #3ddffc;
    --light-neon-shadow: #1e9bca;
    --dark-neon-shadow: #196786;
}

.wrapper {
  display: none;
  grid-template-areas: 'overlap';
  place-content: center;
  position: absolute;
  z-index: 3;
  text-transform: uppercase;
  height: 100vh;
  width: 100vw;
  opacity: 0;
}
.wrapper > div {
  background-clip: text;  
  -webkit-background-clip: text;
  color: #363833;
  font-family: Modak;
  font-size: clamp( 3em, 18vw, 15rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}
div.bg, div.bg2 {
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--dark-shadow) 5%,
    var(--gold) 12%);
  color: transparent;
  
  width: 101%;
  text-align: center;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}
div.fg, div.fg2{
  background-image: repeating-linear-gradient( 5deg,  
    var(--gold) 0% , 
    var(--light-shadow) 23%, 
    var(--gold) 31%);
  color: rgb(20, 16, 59);
  
  width: 101%;
  text-align: center;
  transform: scale(1);
}

div.fg2{
    color: #600d0d;
}

div.ffg{
    background-image: repeating-linear-gradient( 5deg,  
      var(--gold) 0% , 
      var(--light-shadow) 23%, 
      var(--gold) 31%);
    color: rgb(22, 22, 22);
    
    width: 101%;
    text-align: center;
    transform: scale(1);
  }

div.sbg, div.sbg2 {
background-image: repeating-linear-gradient( 105deg, 
    var(--silver) 0% , 
    var(--dark-silver-shadow) 5%,
    var(--silver) 12%);
color: transparent;

width: 101%;
text-align: center;
filter: drop-shadow(5px 15px 15px black);
transform: scaleY(1.05);
transform-origin: top;
}
div.sfg, div.sfg2{
background-image: repeating-linear-gradient( 5deg,  
    var(--silver) 0% , 
    var(--light-silver-shadow) 23%, 
    var(--silver) 31%);
color: rgb(20, 16, 59);

width: 101%;
text-align: center;
transform: scale(1);
}

div.sfg2{
    color: #600d0d;
}

#scores, #scores2{
    position: absolute;
    color: rgb(255, 255, 255);

    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

#nameplayer, #nameplayer2{
    position: absolute;
    font-size: x-large;
    text-align: center;
}

#nameDiv, #nameDiv2{
    position : absolute;
    z-index: 2;
    width: 149px;
    height: 64px;
    left: -58px;
    top: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nameDiv2{
    left: -93px;
}

#finalDiv{
    position : absolute;
    z-index: 2;
    width: 100vw;
    top: -100vh;
    height: 98vh;
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#playersFinal{
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    gap: 10vw;
    align-items: center;
    justify-content: center;
}

#playerOneFinal{
    background-color: rgba(20, 16, 59, 0.548);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
}

#playerTwoFinal{
    background-color: #600d0d79;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
    display: none;
}

#finalScore{
    text-align: center;
}

#finalDiv button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s ease;
}

#finalDiv button:hover{
    background-color: rgb(27, 27, 27);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    scale: 1.1;
    transition: 0.5s ease;
}


.loading-bar{
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 250px;
    background: rgba(236, 236, 238, 0.253);
    height: 3px;
    opacity: 1;
    border-radius: 7px;
    transition: 0.5s ease;
    color: rgba(236, 236, 238, 0.495);
    font-style: italic;
    font-family: monospace;
    text-align: center;
    z-index: 15;

}

.loading-bar p{
    margin-top:7px;
}

.progress {
    content: '';
    width: 250px;
    height: 3px;
    opacity: 1;
    border-radius: 7px;
    transform:scaleX(0);
    background: rgb(255, 255, 255);
    transition: 0.5s ease;
    z-index: 1;
  }

.ended{
    opacity: 0;
}

#tir1manche1{
    position: absolute;
    left: -8px;
    top: 76px;
}

#tir2manche1{
    position: absolute;
    left:27px;
    top: 76px;
}


#tir1manche2{
    position: absolute;
    left: -8px;
    top: 143px;
}


#tir2manche2{
    position: absolute;
    left: 27px;
    top: 143px;
}

#tir1manche3{
    position: absolute;
    left: -8px;
    top: 208px;
}

#tir2manche3{
    position: absolute;
    left: 27px;
    top: 208px;
}

#tir1manche4{
    position: absolute;
    left: -8px;
    top: 273px;
}

#tir2manche4{
    position: absolute;
    left: 27px;
    top: 273px;
}

#tir1manche5{
    position: absolute;
    left: -8px;
    top: 340px;
}

#tir2manche5{
    position: absolute;
    left: 27px;
    top: 340px;
}

#tir1manche6{
    position: absolute;
    left: -8px;
    top: 406px;
}

#tir2manche6{
    position: absolute;
    left: 27px;
    top: 406px;
}

#tir1manche7{
    position: absolute;
    left: -8px;
    top: 471px;
}

#tir2manche7{
    position: absolute;
    left: 27px;
    top: 471px;
}

#tir1manche8{
    position: absolute;
    left: -8px;
    top: 536px;
}

#tir2manche8{
    position: absolute;
    left: 27px;
    top: 536px;
}

#tir1manche9{
    position: absolute;
    left: -8px;
    top: 603px;
}

#tir2manche9{
    position: absolute;
    left: 27px;
    top: 603px;
}

#tir1manche10{
    position: absolute;
    left: -19px;
    top: 668px;
}

#tir2manche10{
    position: absolute;
    left: 15px;
    top: 668px;
}

#tir3manche10{
    position: absolute;
    left: 45px;
    top: 668px;
}

#totalmanche1{
    position: absolute;
    left: 0px;
    top: 109px;

}

#totalmanche2{
    position: absolute;
    left: 0px;
    top: 176px;

}

#totalmanche3{
    position: absolute;
    left: 0px;
    top: 241px;

}

#totalmanche4{
    position: absolute;
    left: 0px;
    top: 306px;

}

#totalmanche5{
    position: absolute;
    left: 0px;
    top: 373px;

}

#totalmanche6{
    position: absolute;
    left: 0px;
    top: 439px;

}

#totalmanche7{
    position: absolute;
    left: 0px;
    top: 504px;

}

#totalmanche8{
    position: absolute;
    left: 0px;
    top: 569px;

}

#totalmanche9{
    position: absolute;
    left: 0px;
    top: 636px;

}

#totalmanche10{
    position: absolute;
    left: 0px;
    top: 701px;
}

#total{
    position: absolute;
    font-size: x-large;
    top: 748px;
    left: -3px;
}



#tir1manche1_2{
    position: absolute;
    right: 8px;
    top: 76px;
}

#tir2manche1_2{
    position: absolute;
    right: -27px;
    top: 76px;
}

#tir1manche2_2{
    position: absolute;
    right: 8px;
    top: 143px;
}

#tir2manche2_2{
    position: absolute;
    right: -27px;
    top: 143px;
}

#tir1manche3_2{
    position: absolute;
    right: 8px;
    top: 208px;
}

#tir2manche3_2{
    position: absolute;
    right: -27px;
    top: 208px;
}

#tir1manche4_2{
    position: absolute;
    right: 8px;
    top: 273px;
}

#tir2manche4_2{
    position: absolute;
    right: -27px;
    top: 273px;
}

#tir1manche5_2{
    position: absolute;
    right: 8px;
    top: 340px;
}

#tir2manche5_2{
    position: absolute;
    right: -27px;
    top: 340px;
}

#tir1manche6_2{
    position: absolute;
    right: 8px;
    top: 406px;
}

#tir2manche6_2{
    position: absolute;
    right: -27px;
    top: 406px;
}

#tir1manche7_2{
    position: absolute;
    right: 8px;
    top: 471px;
}


#tir2manche7_2{
    position: absolute;
    right: -27px;
    top: 471px;
}


#tir1manche8_2{
    position: absolute;
    right: 8px;
    top: 536px;
}

#tir2manche8_2{
    position: absolute;
    right: -27px;
    top: 536px;
}

#tir1manche9_2{
    position: absolute;
    right: 8px;
    top: 603px;
}

#tir2manche9_2{
    position: absolute;
    right: -27px;
    top: 603px;
}

#tir1manche10_2{
    position: absolute;
    right: 42px;
    top: 668px;
}

#tir2manche10_2{
    position: absolute;
    right: 8px;
    top: 668px;
}

#tir3manche10_2{
    position: absolute;
    right: -25px;
    top: 668px;
}

#totalmanche1_2{
    position: absolute;
    right: 0px;
    top: 109px;

}

#totalmanche2_2{
    position: absolute;
    right: 0px;
    top: 176px;

}

#totalmanche3_2{
    position: absolute;
    right: 0px;
    top: 241px;

}

#totalmanche4_2{
    position: absolute;
    right: 0px;
    top: 306px;

}

#totalmanche5_2{
    position: absolute;
    right: 0px;
    top: 373px;

}

#totalmanche6_2{
    position: absolute;
    right: 0px;
    top: 439px;

}

#totalmanche7_2{
    position: absolute;
    right: 0px;
    top: 504px;

}

#totalmanche8_2{
    position: absolute;
    right: 0px;
    top: 569px;

}

#totalmanche9_2{
    position: absolute;
    right: 0px;
    top: 636px;

}

#totalmanche10_2{
    position: absolute;
    right: 0px;
    top: 701px;
}

#total2{
    position: absolute;
    font-size: x-large;
    top: 748px;
    right: -3px;
}




